.fsHeaderBenefitTitle p{
	font-family:'mrs_lollipopregular','Source Sans Pro', Helvetica, sans-serif;
	text-transform:uppercase;
	font-size: 2.22rem;
	line-height: 1.889rem;
}

.fsHeaderBenefitTitle {
	font-family: 'mrs_lollipopregular','Source Sans Pro', Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 2.22rem;
	line-height: 1.889rem;
}

/*.fsHeaderBenefitText {
    font-size: 20px;
	font-weight: 400;
}*/

.fsHeaderImage {
    border: none;
    margin:10px;
}

/*.fsHeaderStatementText {
    font-size: 28px;
	font-weight: 400;
}*/

/*Styles for forms in FreeSpiritEnrollment*/
#free_spirit_tabs ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.contact_info ul{
    list-style-type: none;
    padding: 0;
}

#fsetermsconditions {
    color:#000;
}

#free_spirit_tabs ul li {
    padding: 10px 0;
    border: solid 1px #CCC;
    background-color: #EFEFEF;
}

        #free_spirit_tabs ul li > a {
            color: #707070;
            font-weight: 400;
        }

        #free_spirit_tabs ul li.active {
            background-color: #0073E6;
        }

            #free_spirit_tabs ul li.active > a {
                color: #FFF;
                font-weight: 900;
            }

            #free_spirit_tabs ul li.active > i {
                padding-left: 10px;
                font-size: 18px;
                color: #FFF
            }

        #free_spirit_tabs ul li > i {
            padding-left: 10px;
            font-size: 18px;
            color: #CCC;
        }

/*forms Tabs ending*/

#account-information ul {
    list-style-type: none;
    padding: 0;
}



/* Styles for StaticFareClubEnrollment.aspx (StaticFareClubEnrollmentInputNew.xslt)*/

#forms ul {
    list-style-type: none;
    padding: 0;
}

#NineImage {
    margin-top: 36px;
    margin-right: 10px;
    text-align: right;
}

@media (max-width: 768px) {
    #NineImage {
        text-align: center;
    }

    .NineClubTitle {
        text-align: center;
    }
}

/*.fs_birthdate label {
    padding-left: 14px;
}*/

/* Tooltip text */
.fusionTooltipImage .fusiontoolTiptext {
    visibility: hidden;
    width: 250px;
    background-color: #FFF;
    border: 3px solid #CCC;
    color: #000;
    text-align: left;
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -113px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

    .fusionTooltipImage .fusiontoolTiptext::after {
        content: " ";
        position: absolute;
        top: 102%; /* At the bottom of the tooltip */
        left: 46%;
        margin-left: -5px;
        border-width: 3px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
/* Show the tooltip text when you mouse over the tooltip container */
.fusionTooltipImage:hover .fusiontoolTiptext {
    visibility: visible;
}
/* Tooltip container */
.fusionTooltipImage2 {
    position: relative;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-left: 10px;
    display: inline-block;
    background-image: url("http://useruploads.visualwebsiteoptimizer.com/useruploads/122145/images/7a3db2a42b31c26c26a41dc88b3f9d27_info_button.png");
}

    /* Tooltip text */
    .fusionTooltipImage2 .fusiontoolTiptext {
        visibility: hidden;
        width: 250px;
        background-color: yellow;
        border: 3px solid black;
        color: #000;
        text-align: left;
        padding: 10px;
        border-radius: 3px;
        font-size: 14px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -125px; /* Use half of the width (120/2 = 60), to center the tooltip */
    }

        .fusionTooltipImage2 .fusiontoolTiptext::after {
            content: " ";
            position: absolute;
            top: 101%; /* At the bottom of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 3px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }
    /* Show the tooltip text when you mouse over the tooltip container */
    .fusionTooltipImage2:hover .fusiontoolTiptext {
        visibility: visible;
    }


/*Saver box*/

#saverContainer {
    width: 65%;
    margin: 40px auto;
}

.newfareclubenrollment .saver {
    width: auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 45px;
}

	.newfareclubenrollment .saver div.per_booking {
		width: auto;
		background: #707070;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		color: #fff;
		font-size: 24px;
		display: block;
		padding: 15px 0;
		text-align: center;
		margin-bottom: 14px;
	}

    .newfareclubenrollment .saver p {
        width: auto;
        display: block;
        font-style: oblique;
        font-size: 18px;
        padding: 10px 0px 0;
        text-align: center;
        margin: 0px;
    }

    .newfareclubenrollment .saver span {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        display: block;
        clear: both;
        padding-top: 8px;
    }

    .newfareclubenrollment .saver ul {
        margin: 0;
        padding: 0;
    }

        .newfareclubenrollment .saver ul li {
            display: block;
            font-style: oblique;
            font-size: 18px;
            padding: 10px 0px 0;
            text-align: center;
            margin: 0px;
        }


/*Fisrt Line text*/
.newfareclubenrollment p.first_line {
    text-align: center;
    padding: 20px 0px 16px;
    font-size: 18px;
}

/*terms and conditions*/
#billing-information ul li.textarea {
    margin-bottom: 0px;
}

#content .textarea {
    overflow: auto;
    width: 97%;
    height: 150px;
    padding: 5px 10px 6px;
    margin-bottom: 20px;
    font-size: 12px;
    background: #fff;
    border: 1px solid #d7d7d7;
}

.input_small {
    width: 80px;
}

.ndfc_account_btt {
    margin-top: 45px;
}

.ndfc_bottom_content {
    display: block;
    margin-top: 35px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

    .ndfc_bottom_content p {
        display: block;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 0px;
        padding: 3px 0;
    }

        .ndfc_bottom_content p span {
            margin-right: 15px;
            display: block;
            float: left;
            height: 20px;
        }


/*Styles for forms in StaticFareClubEnrollment*/
#ndfc_spirit_tabs ul {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

    #ndfc_spirit_tabs ul li {
        padding: 10px 0;
        border: solid 1px #CCC;
    }

    #ndfc_spirit_tabs ul li {
        background-color: #EFEFEF;
    }

        #ndfc_spirit_tabs ul li > a {
            color: #707070;
            font-weight: 400;
        }

        #ndfc_spirit_tabs ul li.active {
            background-color: #0073E6;
        }

            #ndfc_spirit_tabs ul li.active > a {
                color: #FFF;
                font-weight: 900;
            }

            #ndfc_spirit_tabs ul li.active > i {
                padding-left: 10px;
                font-size: 18px;
                color: #FFF
            }

        #ndfc_spirit_tabs ul li > i {
            padding-left: 10px;
            font-size: 18px;
            color: #CCC;
        }

/*forms Tabs ending*/

.center {
    text-align: center;
}

.ConfirmPasswordLabel{
	margin-top:0;
	padding-top:0;
	height:33px;
}

/*********** NDFC PAGE Modification CSS ******/

.fusionTooltipImage {
	position: relative;
	display: inline-block;
	height: 18px;
	width: 18px;
	margin-left: 5px;
	display: inline-block;
	background-image: url("https://useruploads.visualwebsiteoptimizer.com/useruploads/122145/images/7a3db2a42b31c26c26a41dc88b3f9d27_info_button.png");
}

	/* Tooltip text */
	.fusionTooltipImage .fusiontoolTiptext {
		visibility: hidden;
		width: 250px;
		background-color: #EFEFEF;
		box-shadow: 3px 3px 3px #888888;
		color: #000;
		text-align: left;
		padding: 10px;
		border:none;
		border-radius: 6px;
		font-size: 14px;
		/* Position the tooltip text - see examples below! */
		position: absolute;
		z-index: 1;
		bottom: 100%;
		left: 50%;
		margin-left: -113px; /* Use half of the width (120/2 = 60), to center the tooltip */
		margin-bottom: 5px;
	}

		.fusionTooltipImage .fusiontoolTiptext::after {
			content: " ";
			position: absolute;
			top: 102%; /* At the bottom of the tooltip */
			left: 46%;
			margin-left: -5px;
			border-width: 3px;
			border-style: solid;
			border-color: black transparent transparent transparent;
		}
	/* Show the tooltip text when you mouse over the tooltip container */
	.fusionTooltipImage:hover .fusiontoolTiptext {
		visibility: visible;
	}
/* Tooltip container */
.fusionTooltipImage2 {
	position: relative;
	display: inline-block;
	height: 18px;
	width: 18px;
	margin-left: 10px;
	display: inline-block;
	background-image: url("https://useruploads.visualwebsiteoptimizer.com/useruploads/122145/images/7a3db2a42b31c26c26a41dc88b3f9d27_info_button.png");
}

	/* Tooltip text */
	.fusionTooltipImage2 .fusiontoolTiptext {
		visibility: hidden;
		width: 250px;
		background-color: yellow;
		border: 3px solid black;
		color: #000;
		text-align: left;
		padding: 10px;
		border-radius: 3px;
		font-size: 14px;
		/* Position the tooltip text - see examples below! */
		position: absolute;
		z-index: 1;
		bottom: 100%;
		left: 50%;
		margin-left: -125px; /* Use half of the width (120/2 = 60), to center the tooltip */
	}

		.fusionTooltipImage2 .fusiontoolTiptext::after {
			content: " ";
			position: absolute;
			top: 101%; /* At the bottom of the tooltip */
			left: 50%;
			margin-left: -5px;
			border-width: 3px;
			border-style: solid;
			border-color: black transparent transparent transparent;
		}
	/* Show the tooltip text when you mouse over the tooltip container */
	.fusionTooltipImage2:hover .fusiontoolTiptext {
		visibility: visible;
	}