

ul#vacation-pkg-header {
	margin-bottom: 0;
}



/* Navigation header tabs styling */
@media (max-width: 767px) {
	#book-travel-form li.form-group:not(#optionalServicesDiv),
	#book-travel-form div.form-group:not(#optionalServicesDiv) {
		margin-bottom: 0.5rem;
	}

	#optionalServicesDiv {
		margin-top: 0.5rem;
	}

	#ui-datepicker-div {
		width: 94%;
	}

	.ui-datepicker-multi .ui-datepicker-group {
		width: 100%;
	}

	#mobile-main-nav {
		padding-top: 20px;
		display: block;
	}

	#vacation-pkg-header .radio label, .searchElems .radio label {
		font-weight: 700;
		margin-left: 20px;
		font-size: .778rem;
	}

	#change-flight, #check-in, #flight-status {
		margin-top: 0px !important;
	}

	#change-flight-form > div:nth-child(1) > div:nth-child(4) > p,
	#check-in-form > div:nth-child(1) > div:nth-child(4) > p {
		display: none;
	}

	#main-nav-tabs > li.active > a {
		background-color: #0073e6;
		color: #FFFFFF !important;
		margin-bottom: 10px;
		border-radius: 0px;
	}

	#main-nav-tabs > li:not(.active) > a {
		display: none;
	}

	#mobile-main-nav a {
		width: 100%;
	}

	.submitbtnform button, .continueBtnMange {
		width: 100%;
	}

	#main-nav-border-container {
		border-top: 0 !important;
		margin-top: -3px !important;
	}

	#main-nav-container {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	#multiAddFlight {
		padding-top: 20px;
	}
}

@media (max-width: 376px) {
	ul.nav-tabs.visible-xs {
		font-size: 0.75rem;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	#main-nav-tabs > li > a {
		margin-bottom: -3px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	#main-nav-tabs > li > a {
		font-size: 0.94rem !important;
	}
}

@media (min-width: 768px) {
	#mobile-main-nav {
		display: none;
	}

	#book-tab-content ul.nav-justified > li > a {
		margin-bottom: -1px !important;
	}

	.row.selection-row {
		margin-top: -7px;
	}
}

@media (min-width: 1024px) {
	#main-nav-tabs > li > a {
		margin-bottom: -2px;
	}
}

ul.nav.navbar-nav.main-links > li {
	cursor: pointer;
	cursor: hand;
}


#main-nav-tabs > li.active > a:hover {
	background-color: white !important;
}

#book-tab-content > ul > li:not(.active) > a:hover,
#main-nav-tabs > li:not(.active) > a:hover {
	background-color: transparent !important;
}

label.asterisk:after {
	content: "*";
}

label[for="paxMinors"] > span:nth-child(2) {
	font-size: 0.64rem;
}

#main-nav-tabs > li.active > a {
	border-bottom: 3px solid white;
}

nav ul.nav.nav-tabs.visible-xs > li.active > a {
	color: black;
}

#main-nav-tabs {
	border-collapse: separate;
	border-spacing: 10px 0px;
}

	#main-nav-tabs > li > a {
		font-weight: 900;
		font-size: 1.15rem;
		font-family: 'Source Sans Pro', Helvetica, "Helvetica Neue", sans-serif;
		text-transform: uppercase;
	}

		#main-nav-tabs > li > a:hover {
			text-decoration: underline;
		}

	#main-nav-tabs > li.active > a {
		color: black;
		border-width: 2px 2px 0px 2px;
		border-color: #0073e6;
	}

	#main-nav-tabs > li:not(.active) > a:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		border-top: 1px solid #CCCCCC;
		border-right: 1px solid #CCCCCC;
		border-left: 1px solid #CCCCCC;
		border-bottom: 0px;
		border-radius: 5px 5px 0px 0px;
	}

	#main-nav-tabs > li > a {
		border-bottom: 0px;
	}

header {
	margin-top: 0px !important;
}

.datepicker_input {
	width: 100%;
	background: url("../../../../images/homepage/ic_event_black_24dp.png") no-repeat scroll 7px;
	background-position: right;
}

.ui-datepicker-trigger {
	display: none;
}

#main-nav-container {
	margin-left: 45px;
	margin-right: 45px;
}

#book-tab-content ul.nav-pills > li {
	border: 2px solid #0073e6;
	border-right: 0px;
}

	#book-tab-content ul.nav-pills > li:last-child {
		border: 2px solid #0073e6;
	}


select {
	max-width: 100%;
}

.icon-arrow {
	font-size: 2rem;
}

#main-nav-border-container {
	border-top: 2px solid #0073E6;
}

#book-tab-content > ul.nav > li > a {
	margin-top: 0px;
}

#check-in-form div.row a,
#flight-status-form div.row a,
#change-flight-form div.row a,
#book-travel-form > div.row a {
	color: #0073e6;
	padding-top: .333rem;
	display: inline-block;
	font-weight: 700;
}

#vacation-pkg-header .radio label,
.searchElems .radio label,
label[for='flifoDest'], label[for='flifoFlightNo'] {
	font-weight: 900;
	padding-left: 5px;
	margin-left: 25px;
}


#book-tab-content > ul {
	margin: 20px 0px 20px 0px;
}

	#book-tab-content > ul > li a:hover span {
		text-decoration: underline;
	}

	#book-tab-content > ul > li.active a {
		border-radius: 0px;
	}

	#book-tab-content > ul li i {
		margin-right: 5px;
	}

#change-flight, #flight-status, #check-in {
	margin-top: 20px;
}

#multiCity ul, .searchElems {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

	#returnOneway > ul label, #multiCity ul li > label {
		padding-left: 0px;
		display: block;
	}

label[for='pickUpDate'],
label[for='dropOffDate'],
label[for='checkInDate'],
label[for='checkOutDate'] {
	display: block;
}

label[for='pickUpDate'],
label[for='dropOffDate'],
label[for='checkInDate'],
label[for='checkOutDate'] {
	display: block;
}

/* Child birth dates modal */
#childBirthDates fieldset {
	background-color: #EFEFEF;
	border-radius: 0px;
	margin-top: 100px
}

#birthDatesArea {
	list-style: none;
	padding-left: 0px;
}

	#birthDatesArea > li > label {
		display: block;
		margin-top: 10px;
	}

	#birthDatesArea > li > span.lap_child label {
		margin-top: 10px;
	}

/* Slider CSS */
div.slider.disabled > div {
	cursor: default !important;
}

	div.slider.disabled > div.selected {
		background-color: #C4C4C4 !important;
		border: 1px solid #C4C4C4 !important;
		color: black !important;
		box-shadow: 0 0 0 4px #C4C4C4 !important;
	}

#slider-container {
	padding-top: .3rem;
}

.slider-header > button {
    display: inline-block;
    min-width: 321px;
    margin-bottom: 0;
}

    .slider-header > button:last-child {
        float: right;
        padding-top: 5px;
    }

.slider-header .cal-date {
	padding-left: 5px;
	font-size: 1.667rem;
	line-height: 2.11rem;
	font-weight: 700;
	text-transform: uppercase;
}

.slider-header .days {
	float: left;
	margin-right: 15px;
}

.slider-header .slider {
	float: right;
    margin-top: 5px;
}

    .slider-header .days > button,
    .slider-header .slider > button {
        padding: 2px 25px;
        border-radius: 5px;
        border: 1px solid black;
        font-weight: 700;
        cursor: pointer;
    }

        .slider-header .days > button:first-child,
        .slider-header .slider > button:first-child {
            float: left;
            background: #fff;
        }

        .slider-header .days > button:last-child,
        .slider-header .slider > button:last-child {
            float: right;
            background: #fff;
        }

.slider-header .days > button:hover,
.slider-header .award > button:hover {
    text-decoration: underline;
}

    .slider-header .days > button.selected,
    .slider-header .slider > button.selected {
        position: relative;
        border-radius: 1px;
        border: 1px solid #0073e6;
        color: #fff;
        background-color: #0073e6;
        box-shadow: 0 0 0 4px #0073e6;
    }

@media (max-width: 767px) {
    .slider-header .days > button, .slider-header .slider > button {
        padding: 0 10px;
        font-size: .778rem;
    }
}

/* Trip Planning */
#tripPlanning {
	font-size: .778rem;
}

	#tripPlanning #collapseTripPlanning .h4 {
		margin: 0;
	}

	#tripPlanning #collapseTripPlanning ul.cities {
		list-style: none;
	}

		/*#tripPlanning #collapseTripPlanning ul.cities li {
			color: #000;
			float: left;
			margin-right: 26px;
			white-space: nowrap;
		}*/

		#tripPlanning #collapseTripPlanning ul.cities li a {
			color: #000;
		}

	#tripPlanning #collapseTripPlanning ul.cities {
		padding-left: 0;
	}

	#tripPlanning #collapseTripPlanning ul.cities {
		-moz-column-count: 3;
		-moz-column-gap: 20px;
		-webkit-column-count: 3;
		-webkit-column-gap: 20px;
		column-count: 3;
		column-gap: 20px;
	}

@media (max-width: 1023px) {
	#tripPlanning #collapseTripPlanning ul.cities {
		border-top: 1px solid #ccc;
	}
}

@media (max-width: 425px) {
	#tripPlanning #collapseTripPlanning ul.cities {
		-moz-column-count: 2;
		-moz-column-gap: 20px;
		-webkit-column-count: 2;
		-webkit-column-gap: 20px;
		column-count: 2;
		column-gap: 20px;
	}
}

@media (max-width: 320px) {
	#tripPlanning #collapseTripPlanning ul.cities {
		--moz-column-count: 1;
		-moz-column-gap: 0;
		-webkit-column-count: 1;
		-webkit-column-gap: 0;
		column-count: 1;
		column-gap: 0;
	}
}

/* Headline Scroller */
aside#headlines.alert {
	background-color: #DC0000;
	border-radius: 0;
	margin-bottom: 0;
	padding: 0;
}

	aside#headlines.alert a,
	aside#headlines.alert a:hover,
	aside#headlines.alert a:active,
	aside#headlines.alert a:visited {
		color: #fff;
	}

	aside#headlines.alert > div.container {
		position: relative;
	}

	aside#headlines.alert dl {
		margin-bottom: 0;
		color: #fff;
		padding: 1rem 1.75rem 1rem .25rem;
	}

	aside#headlines.alert ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

		aside#headlines.alert ul li {
			display: none;
			text-align: center;
		}

			aside#headlines.alert ul li.active {
				display: block;
			}

	aside#headlines.alert button.close {
		position: absolute;
		text-shadow: none;
		color: #fff;
		top: .9rem;
		right: .5rem;
	}

/* Calendar control */
#ui-datepicker-div {
	border: 1px solid #0073E6;
}

.ui-datepicker-next > span {
	background-image: url("../../../../images/icons/rightArrow.png") !important;
	background-position: 0;
}

.ui-datepicker-prev > span {
	background-image: url("../../../../images/icons/leftArrow.png") !important;
	background-position: 0;
}

.ui-datepicker td, .ui-datepicker td a {
	padding: 0px !important;
}

.ui-widget-header {
	border: 0px;
	background-color: white;
}

	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		border: none;
		background-color: white;
		text-align: center;
	}

.ui-datepicker-title {
	font-size: 0.8rem;
	font-weight: 700;
}

.ui-datepicker table {
	font-size: 0.6rem;
}

.dateInRange > a {
	border-top: 1px solid #0073e6 !important;
	border-bottom: 1px solid #0073e6 !important;
}

.blueDotDate > a {
	border-top: 1px solid #0073e6 !important;
	border-bottom: 1px solid #0073e6 !important;
	background: url("../../../../images/icons/bluedot.png") !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	color: white !important;
}

.blueDotDate.single > a {
	border-top: 0px !important;
	border-bottom: 0px !important;
	background: url("../../../../images/icons/bluedot.png") !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	color: white !important;
}

.blueDotDate.depart > a {
	border-left: 1px solid #0073e6 !important;
}

.blueDotDate.return > a {
	border-right: 1px solid #0073e6 !important;
}

#tripPlanning #collapseTripPlanning ul.cities li a {
	color: #000;
}

@media (max-width:768px) {
	
	#promoCodeToggler {
		display: inline-block !important;
	}
}

/* Login Modal */
#login.modal ul.row {
	padding-left: 0;
	list-style: none;
}
