.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-datepicker-multi {
	z-index: 20 !important;
}

div#hero-carousel {
	max-width: 1920px;
	margin: auto;
	margin-bottom: 1.5rem;
}

div#hero-carousel .carousel-indicators {
	text-align: left;
	bottom: 0;
	left: 1rem;
	margin: 0;
	width: auto;
}

	div#hero-carousel .carousel-indicators li {
		width: .889rem;
		height: .889rem;
		background-color: #fff;
		border: 1px solid #0073E6;
		border-radius: 50%;
	}

		div#hero-carousel .carousel-indicators li.active {
			width: .889rem;
			height: .889rem;
			background-color: #0073E6;
			border: 1px solid #0073E6;
			margin: 1px;
		}

.hero {
	height: 410px;
	max-width: 1980px;
	margin: auto;
	background-size: cover;
	background-position: left center;
	background-repeat: no-repeat;
	background-color: #fff;
	overflow: hidden;
	position: relative;
}

.hero > div.container {
	height: 100%;
	position: relative;
}

	.hero .parallelogram {
		max-width: 500px;
		width: 100%;
		height: 100%;
		transform: skew(-20deg);
		background-color: transparent;
		position: absolute;
		right: 100px;
		z-index: 1;
	}

		.hero .parallelogram .parallelogram-content {
			position: relative;
			transform: skew(20deg);
			height: 100%;
			width: 100%;
			padding-top: 1.5rem;
			margin: 0
		}

			.hero .parallelogram .parallelogram-content .hero-headline {
				font-family: 'mrs_lollipopregular','Source Sans Pro', Helvetica, "Helvetica Neue", sans-serif;
				text-transform: uppercase;
				font-size: 2.223rem;
				line-height: 2.334rem;
				margin: 0 0 0 80px;
			}

			.hero .parallelogram .parallelogram-content .hero-lead {
				font-size: 1.333rem;
				line-height: 1.83rem;
				margin: .25rem 0 0 80px;
				font-weight: 700;
				max-width: 400px;
			}

			.hero .parallelogram .parallelogram-content .hero-pricing-component {
				display: inline-block;
				margin-left: 60px;
			}

				.hero .parallelogram .parallelogram-content .hero-pricing-component.single {
					margin-left: 110px;
				}

				.hero .parallelogram .parallelogram-content .hero-pricing-component.nocents {
					margin-left: 90px;
				}

				.hero .parallelogram .parallelogram-content .hero-pricing-component.single.nocents {
					margin-left: 150px;
				}

				.hero .parallelogram .parallelogram-content .hero-pricing-component.percent {
					margin-left: 150px;
				}

				.hero .parallelogram .parallelogram-content .hero-pricing-component .price {
					font-size: 5.5rem;
					line-height: 1;
					font-weight: 900;
					word-spacing: -1rem;
					margin: -.5rem 0 -.5rem -30px;
				}

				.hero .parallelogram .parallelogram-content .hero-pricing-component.percent .price {
					margin-left: 0;
				}

					.hero .parallelogram .parallelogram-content .hero-pricing-component .price > span {
						display: inline-block;
					}

						.hero .parallelogram .parallelogram-content .hero-pricing-component .price > span.price-currency,
						.hero .parallelogram .parallelogram-content .hero-pricing-component .price > span.price-cents,
						.hero .parallelogram .parallelogram-content .hero-pricing-component .price > span.price-percent,
						.hero .parallelogram .parallelogram-content .hero-pricing-component .price > span.price-asterisk {
							font-size: 3rem;
							padding-top: .75rem;
							vertical-align: top;
						}

						.hero .parallelogram .parallelogram-content .hero-pricing-component .price > span.price-asterisk {
							font-size: 1.5rem;
						}

				.hero .parallelogram .parallelogram-content .hero-pricing-component .price-direction {
					font-size: 1.667rem;
					line-height: 1;
					font-weight: 700;
				}

			.hero .parallelogram .parallelogram-content.no-price {
				padding-top: 3rem;
			}

			.hero .parallelogram .parallelogram-content.no-headline .hero-pricing-component.single.percent {
				margin-top: 1.25rem;
			}

				.hero .parallelogram .parallelogram-content.no-headline .hero-pricing-component.single .price {
					font-size: 6.5rem;
				}

					.hero .parallelogram .parallelogram-content .hero-pricing-component.single .price .price-off {
						font-size: 3rem;
						line-height: 1;
						display: block;
						margin-top: -.75rem;
						margin-bottom: .25rem;
					}

			.hero .parallelogram .parallelogram-content.no-headline .hero-pricing-component.single .price .price-off {
				font-size: 6.5rem;
				display: block;
				margin-top: -1.9rem;
			}

			.hero .parallelogram .parallelogram-content .hero-footer {
				position: absolute;
				bottom: .5rem;
				text-align: center;
				margin: 0 95px 0 -55px;
				width: 100%;
			}

				.hero .parallelogram .parallelogram-content .hero-footer > div {
					position: relative;
				}

			.hero .parallelogram .parallelogram-content .hero-legal {
				font-size: .662rem;
				line-height: .889rem;
				padding-top: .5rem;
				margin-right: 1rem;
				margin-left: .3rem;
			}

	.hero .angled-overlay {
		width: 100%;
		height: 100%;
		float: right;
		background-color: transparent;
		transform: skew(-20deg);
		position: absolute;
		right: -450px;
	}
	

	.hero.bk-yellow, .hero .bk-yellow {
		background-color: #FFEC01;
	}

	.hero.bk-white, .hero .bk-white {
		background-color: #FFF;
	}

	.hero.bk-frosted, .hero .bk-frosted {
		background-color: rgba(255,255,255,0.7);
	}

	.hero.bk-gray, .hero .bk-gray {
		background-color: #EFEFEF;
	}

	.hero.bk-transparent, .hero .bk-transparent {
		background-color: transparent;
	}

@media (max-width: 1200px) {
	.hero .parallelogram {
		right: 80px
	}

	.hero .angled-overlay {
		right: -100px;
	}
}

@media (max-width: 1023px) {

	.hero.img-right-mobile {
		background-position: right center;
	}
}

@media (max-width: 922px) {
	.hero .angled-overlay {
		right: -85px;
	}
}

@media (max-width: 767px) {
	div#hero-carousel {
		margin-bottom: 0;
	}

	div#hero-carousel .carousel-indicators {
		left: unset;
		right: .25rem;
	}

		div#hero-carousel .carousel-indicators li {
			width: .5rem;
			height: .5rem;
		}

			div#hero-carousel .carousel-indicators li.active {
				width: .5rem;
				height: .5rem;
			}

	.hero {
		height: 218px;
	}

		.hero .parallelogram {
			max-width: 80%;
			right: 38px;
		}

	.hero .parallelogram .parallelogram-content {
		padding-top: .5rem;
	}

			.hero .parallelogram .parallelogram-content.no-headline {
				padding-top: 1rem;
			}

		.hero .parallelogram .parallelogram-content.no-price {
			padding-top: 1.5rem;
		}

		.hero .parallelogram .parallelogram-content .hero-headline {
			font-size: 18px;
			line-height: 20px;
			margin-left: 40px;
		}

		.hero .parallelogram .parallelogram-content .hero-lead {
			font-size: 1rem;
			line-height: 1.125rem;
			margin-left: 40px;
		}

		.hero .angled-overlay {
			display: none;
		}

		.hero .parallelogram .parallelogram-content .hero-pricing-component {
			margin-left: 50px;
		}

			.hero .parallelogram .parallelogram-content .hero-pricing-component.nocents {
				margin-left: 50px;
			}

			.hero .parallelogram .parallelogram-content .hero-pricing-component + .hero-pricing-component {
				margin-left: 30px;
			}

			.hero .parallelogram .parallelogram-content .hero-pricing-component.single.nocents,
			.hero .parallelogram .parallelogram-content .hero-pricing-component.single.percent {
				margin-left: 80px;
			}

			.hero .parallelogram .parallelogram-content.no-headline .hero-pricing-component.single.percent {
				margin-top: 0;
			}

		.hero .parallelogram .parallelogram-content .hero-pricing-component .price {
			font-size: 3rem;
			word-spacing: -.6rem;
			margin: -.25rem 0 -.3rem -25px;
		}

		.hero .parallelogram .parallelogram-content.no-headline .hero-pricing-component.single .price {
			font-size: 3.5rem;
		}

		.hero .parallelogram .parallelogram-content .hero-pricing-component .price > span.price-currency,
		.hero .parallelogram .parallelogram-content .hero-pricing-component .price > span.price-cents,
		.hero .parallelogram .parallelogram-content .hero-pricing-component .price > span.price-percent,
		.hero .parallelogram .parallelogram-content .hero-pricing-component .price > span.price-asterisk {
			font-size: 1.5rem;
			padding-top: .35rem;
		}

		.hero .parallelogram .parallelogram-content .hero-pricing-component.single .price .price-off {
			display: inline-block
		}

		.hero .parallelogram .parallelogram-content.no-headline .hero-pricing-component.single .price .price-off {
			font-size: 3rem;
			display: block;
			margin-top: -1rem;
		}

		.hero .parallelogram .parallelogram-content .hero-pricing-component .price-direction {
			font-size: 1rem;
			margin-left: -12px;
		}

		.hero .parallelogram .parallelogram-content .hero-pricing-component .price-terms {
			font-size: .875rem;
			margin-left: -12px;
		}

		.hero .parallelogram .parallelogram-content.no-headline .hero-lead {
			margin-left: 10px;
		}

		.hero .parallelogram .parallelogram-content .hero-footer {
			bottom: .25rem;
			margin: 0 100px 0 -25px;
		}

		.hero .parallelogram .parallelogram-content .hero-footer > div {
			position: relative;
		}

		.hero .parallelogram .parallelogram-content .hero-legal {
			/*padding-top: .25rem;*/
		}

		.hero .parallelogram .parallelogram-content .btn.btn-primary.btn-sm,
		.hero .parallelogram .parallelogram-content .btn.btn-primary.btn-sm:active,
		.hero .parallelogram .parallelogram-content .btn.btn-primary.btn-sm:hover,
		.hero .parallelogram .parallelogram-content .btn.btn-primary.btn-sm:focus {
			font-size: 1rem;
			line-height: 1rem;
			min-height: 1rem;
			padding: 0;
			background-color: transparent;
			border-width: 0;
			min-width: 0;
			color: #0073e6;
		}
}


/*Marketing Tiles*/
#marketing-tiles .row div[class*="tile-col-"] {
	width: 100%;
	height: 100%;
	position: relative;
}

#marketing-tiles .row div.img-only {
	background-size: contain;
	background-repeat: no-repeat;
}

	#marketing-tiles .row div.img-only a,
	#marketing-tiles .row div.img-only a:hover,
	#marketing-tiles .row div.img-only a:active,
	#marketing-tiles .row div.img-only a:visited {
		display: block;
        color: transparent !important;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

