@font-face {
  font-family: 'bags_icons';
  src:  url('../fonts/bags_icons-h6lpd2.eot');
  src:  url('../fonts/bags_icons-h6lpd2.eot#iefix') format('embedded-opentype'),
    url('../fonts/bags_icons-h6lpd2.ttf') format('truetype'),
    url('../fonts/bags_icons-h6lpd2.woff') format('woff'),
    url('../fonts/bags_icons-h6lpd2.svg#bags_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="bicon-"], [class*=" bicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bags_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bicon-minus .path1:before {
  content: "\e906";
  color: rgb(0, 115, 230);
}
.bicon-minus .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.bicon-plus .path1:before {
  content: "\e909";
  color: rgb(0, 115, 230);
}
.bicon-plus .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.bicon-plus .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.bicon-ic_carryon:before {
  content: "\e908";
}
.bicon-ic_checked:before {
  content: "\e910";
}
