@media (max-width: 768px) {
	.displayPrice-box {
		width: 100%;
	}

	.start-over > a {
		width: 100%;
	}

	#bag-o-tron-container {
		background-color: #ffec00;
	}
}

@media (min-width: 768px) {
	nav.hidden-xs > ul.nav.nav-pills.nav-justified > li.active {
		border-bottom: 3px solid #0073e6 !important;
	}

	li.active > a {
		margin-bottom: -3px !important;
	}
}

section.content_block.intro > p {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

img.img-responsive {
	margin: auto;
	margin-bottom: 1rem;
}

ul.nav-pills {
	margin-top: 1rem;
}


	ul.nav-pills > li {
		border: 2px solid #0073e6;
		border-right: 0px;
	}

		ul.nav-pills > li > a {
			border-radius: 0px;
		}

		ul.nav-pills > li:last-child {
			border: 2px solid #0073e6;
		}

ul.nav-pills > li.active {
	background-color: #0073e6;
}

nav.visible-xs > ul.nav.nav-justified > li.active {
	background-color: #0073e6;
}

	nav.visible-xs > ul.nav.nav-justified > li.active > a {
		color: white !important;
	}
	
	
	div.tab-content {
		margin-top: 1rem;
		min-height: 15rem;
	}


li > a:hover {
	background-color: transparent !important;
}

.start-over {
	text-align: right;
}

#childBirthDates fieldset {
	background-color: #EFEFEF;
	border-radius: 0px;
}

#birthDatesArea {
	list-style: none;
	padding-left: 0px;
}

	#birthDatesArea > li > label {
		display: block;
		margin-top: 10px;
	}

	#birthDatesArea > li > span.lap_child label {
		margin-top: 10px;
	}


#Optional-bags-Services {
	background-color: #ffec00;
	min-height: 13rem;
}

#overweightBaggageAccordion {
	margin-top: 1rem;
}

.my-popover-content {
	display: none;
}

.popover-content {
	font-size: 0.778rem;
	line-height: 1rem;
}

a[data-toggle='popover'] {
	margin-left: 0.5rem;
}

div.row.fee_charges {
	margin: 0.5rem;
}

/* OLD STYLES */
/***************** OptionalBags Services CSSS ************/
sup {
	vertical-align: super;
	font-size: 50%;
	position: relative;
	left: -5px;
}

.allcaps {
	text-transform: uppercase;
}

table.newstyletable thead td {
	font-size: 12px;
	padding-top: 5px !important;
	padding-bottom: 10px !important;
}

table.newstyletable tr.smallfonts td {
	font-size: 8.6pt;
	font-style: oblique;
	height: 41px !important;
}

table.newstyletable td.grey-border-right {
	border-right: 1px solid #cdcdcd;
}

table.newstyletable td.white-border-left {
	border-left: 1px solid #ffffff;
}

table.accordion_table > table.accordion_table {
	width: 100%;
	font-size: 14px;
	border-collapse: separate;
}

table.accordion_table td {
	padding: 12px 20px;
}

table.accordion_table.newstyletable td {
	height: 53px;
	padding: 0px;
	vertical-align: middle;
	text-align: center;
}

	table.accordion_table.newstyletable td:first-child {
		padding-left: 15px;
		padding-right: 10px;
		text-align: left;
	}

.odd {
	background-color: #EFEFF0 !important;
}

.even {
	background-color: #e3e3e3 !important;
}

table.accordion_table tr.odd td {
	background-color: #EFEFF0 !important;
	border-bottom: 2px solid #fff !important;
	border-top: 1px solid #ffffff !important;
}

table.accordion_table tr.even td {
	background-color: #e3e3e3 !important;
	border-top: 1px solid #ffffff !important;
	border-bottom: 2px solid #fff !important;
}

table.accordion_table tr.nobackground td {
	background-color: #FFF !important;
}

table.accordion_table tr:last-child td {
	border-bottom: 0px solid #cdcdcd !important;
}

table.accordion_table tr td.morepaddingleft {
	padding-left: 0px !important;
}

table.accordion_table tr td.paddingright {
	padding-right: 0px !important;
}

table.accordion_table tr.odd td.green, table.accordion_table tr.even td.green {
	background-color: #fff799 !important;
	font-weight: normal;
}

table.accordion_table tr.odd td.pink, table.accordion_table tr.even td.pink {
	background-color: #fff799 !important;
	color: #ffffff !important;
}

div.confirmation_code_tabs section.tab_section {
	padding: 0px !important;
}

	div.confirmation_code_tabs section.tab_section div.accordion {
		width: auto;
	}

.es-PR table.newstyletable thead td {
	padding-left: 2px;
	padding-right: 2px;
}

#freeSpiritAwardNumber ul li{
	list-style: none;
}

#fsMemberNumberFailed {
	padding: 10px 40px;
	color: red;
}