.main_header {
	background-color: #ffec00;
}

.main_header h1 {
	margin: 0;
}

.navbar.navbar-spirit {
	background-color: transparent;
	border-color: transparent;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

ul.nav.navbar-nav.main-links > li {
	cursor: pointer;
	cursor: hand;
}

.navbar-spirit .navbar-brand {
	color: #000;
}

.navbar.navbar-spirit ul li {
	margin-top: 0;
}

.navbar-spirit .navbar-brand img {
	height: 42px;
	width: 145px;
}

.navbar-spirit .navbar-toggle {
	border-color: transparent;
	margin-right: 0;
	float: left;
	padding: .5rem 0;
}

.navbar-spirit .navbar-toggle:hover {
	border-color: transparent;
}

.navbar-spirit .navbar-toggle:active {
	border-color: transparent;
}

.navbar-spirit .navbar-toggle .icon-bar {
	background-color: #000;
	display: block;
	width: 2rem;
	height: .222rem;
	border-radius: 3px;
}

.navbar-spirit .navbar-nav > li > a {
	padding: .55rem .5rem;
}

.navbar-spirit .navbar-nav > li > a {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 1.333em;
	display: inline-block;
	color: #000;
}

.navbar-spirit .navbar-nav > li > a:hover {
	background-color: transparent;
	text-decoration: underline;
	color: #000;
}

.navbar-spirit.navbar-main > .navbar-collapse > span {
	float: right;
}

.main-links,
.login-links {
	font-weight: 900;
	margin-left: 1.5rem;
	text-transform: uppercase;
}

.secondary-links {
	font-weight: 700;
}

.language-links {
	font-weight: 700;
	margin-left: 1.5rem;
}

.navbar-spirit .navbar-nav.language-links > li > a {
	padding-right: 0;
}

.secondary-links > li a {
	padding-top: 0;
	padding-bottom: 0;
	
	border-left: 1px solid transparent;
	border-left-color: #000;
}

.secondary-links > li:first-child a {
	border-left-color: transparent;
}


.navbar-spirit .navbar-secondary {
	display: none;
}

.navbar-spirit.navbar-main .login-links {
	position: absolute;
	top: -1.6rem;
	right: 15px;
	list-style: none;
	z-index: 1050;
}

.navbar-spirit.navbar-main .login-links li {
	padding-top: .1rem;
}

.navbar-spirit.navbar-main .login-links li.help {
	background-color: #000;
}

.navbar-spirit.navbar-main .login-links li.help a {
	color: #fff;
	background-color: #000;
}

.navbar-spirit.navbar-main .login-links li.help a img {
	margin-top: -.22rem;
}

.navbar-spirit .navbar-nav.login-links > li > a:hover i.fa-user {
	text-decoration: underline;
}

.navbar-spirit.navbar-main .login-links li.mobile-account {
	font-size: 2rem;
	margin-top: -1rem;
	margin-left: -2.75rem;
}

.navbar-spirit .dropdown a.dropdown-toggle {
	background-color: transparent;
}

.navbar-spirit .dropdown-menu {
	font-size: .778rem;
	text-transform: none;
	color: #000;
}

	.navbar-spirit .dropdown-menu > li,
	.navbar-spirit .dropdown-menu > li:hover,
	.navbar-spirit .dropdown-menu > li:focus,
	.navbar-spirit .dropdown-menu > li > a {
		color: #000;
		background-color: #fff;
	}

.navbar-spirit .dropdown-menu > li > a:hover, 
.navbar-spirit .dropdown-menu > li > a:focus {
	color: #000;
	text-decoration: underline;
	background-color: #fff;
}

	.navbar-spirit .dropdown-menu .divider,
	.navbar-spirit .dropdown-menu .divider:hover,
	.navbar-spirit .dropdown-menu .divider:focus {
		background-color: #e5e5e5;
	}

.navbar-spirit .navbar-brand {
	padding: 1rem 0;
	padding-right: 1rem;
}


@media (min-width: 0) and (max-width: 767px) {
	.navbar-spirit.navbar-main .navbar-header {
		text-align: center;
	}

	.navbar-spirit.navbar-main .navbar-toggle {
		float: none;
		margin-top: 0;
		margin-bottom: 0;
		position: absolute;
		top: 1rem;
		left: 0;
	}

	.navbar-spirit .navbar-brand {
		padding-bottom: 0;
		padding-left: 0;
		padding-bottom: .2rem;
		display: inline-block;
		float: none;
	}

	.navbar-spirit .navbar-collapse {
		padding-left: 0;
	}

	.navbar-spirit.navbar-main .navbar-collapse > span {
		float: none;
	}

	.navbar-spirit .navbar-collapse ul.navbar-nav {
		margin-left: 0;
		display: block;
		margin-bottom: .5rem;
		margin-top: .5rem;
	}

	.navbar-spirit .navbar-collapse ul.navbar-nav.main-links {
		margin-top: 0;
	}

	.navbar-spirit .navbar-collapse ul.navbar-nav > li a {
		line-height: 2rem;
	}

	.navbar-spirit .navbar-collapse ul.navbar-nav.secondary-links > li a {
		border-left-color: transparent;
		line-height: 2rem;
	}

	.navbar-spirit .navbar-collapse ul.navbar-nav.help-links  > li a img {
		margin-top: -.22rem;
	}

	.navbar-spirit .navbar-collapse ul.navbar-nav.help-links a {
		color: #fff;
		background-color: #000;
	}

	.navbar-spirit.navbar-main .login-links {
		top: 1rem;
		right: 0;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.navbar-spirit .navbar-secondary .navbar-header .navbar-toggle, 
	.navbar-spirit .navbar-secondary {
		display: block;
	}

	.navbar-spirit.navbar-main .secondary-links {
		display: none;
	}

	.navbar-spirit .navbar-secondary .navbar-header {
		float: left;
		margin-top: .7rem;
		margin-bottom: 0;
	}

	.navbar-spirit .navbar-secondary .navbar-header .navbar-toggle {
		padding-top: 0;
		margin-top: .85rem;
	}

	.navbar-brand {
		padding-bottom: 0;
	}

	.navbar-spirit .navbar-brand {
		padding-left: 1rem;
	}

	.navbar-spirit .navbar-nav.language-links {
		margin-left: .7rem;
		clear: both;
		float: right;
	}

	.navbar-spirit .navbar-nav.language-links > li > a {
		padding-right: 0;
	}

	.navbar.navbar-spirit.navbar-main {
		margin-bottom: 0;
	}

	.navbar-spirit .navbar-secondary .navbar-collapse .secondary-links {
		float: none;
		display: block;
		margin-top: 0;
	}

	.navbar-spirit .navbar-secondary .navbar-collapse .secondary-links li {
		float: none;
		display: block;
	}

	.navbar-spirit .navbar-secondary .navbar-collapse .secondary-links li a {
		border-left-color: transparent;
		line-height: 2rem;
	}

	.navbar-spirit .navbar-secondary .navbar-collapse.collapse {
		display: none !important; 
		height: 0 !important; 
		padding-bottom: 0; 
		overflow: hidden !important; 
	}

	.navbar-spirit .navbar-secondary .navbar-collapse.collapse.in {
		display: block !important; 
		height: auto !important; 
		padding-bottom: 0; 
		overflow: visible !important; 
	}
}


@media (min-width: 768px) {
	.navbar-spirit.navbar-main .navbar-toggle {
		display: none;
	}

	.navbar-spirit .navbar-nav {
		float: left;
		margin: 1.425rem 0 .375rem 0;
	}

	.navbar-spirit .navbar-nav > li {
		float: left;
	}

	.navbar-spirit .navbar-nav > li > a {
		padding-top: 0;
		padding-bottom: 0;
		line-height: 1.333em;
		font-size: .889rem;
		background-color: transparent;
	}

	.navbar-spirit .navbar-nav.language-links > li > a {
		padding-right: 0;
	}
}

@media (min-width: 1023px) and (max-width: 1169px) {
	.navbar-spirit .navbar-nav.language-links > li > a {
		padding-right: 0;
	}

	.navbar-spirit .navbar-nav.language-links li > a,
	.navbar-spirit .navbar-nav.secondary-links li > a {
		font-size: .778rem;
	}
}

/* login style*/
.navbar-spirit .navbar-nav.login-links .dropdown-menu > li > a:hover.taMenu, 
.navbar-spirit .navbar-nav.login-links .dropdown-menu > li > a:focus.taMenu {
	text-decoration: none;
}

@media (max-width: 767px) {
	#navToggle {
		padding:0;
		top:.86rem;
	}
			
	#navLogo {
		padding:0;
		padding-top:.5rem;
	}
				
	#navLogo > img {
		height: 33px;
		width: 109px;
	}
				
	nav.navbar-spirit > ul.login-links {
		margin-right:0;
		margin-left:0;
		top:.4rem !important;
	}
				
	#loginlink {
		padding:0;
	}
	
	li.visible-xs.mobile-account {
		text-align:right;
	}

	li.visible-xs.mobile-account > a {
		padding:0;
		top:.2rem;
	}
				
	.logo-mobile-invisible {
        display:none !important;
	}

    .logo-mobile-noscript {
        display:inline;
    }
}

@media (min-width:768px) {
    .logo-mobile-noscript {
        display:none;
    }
}