
ul#main-nav li ul {
 margin-top: -5px;
 opacity:.95;filter: alpha(opacity=95); -moz-opacity: 0.95;
}
 
 .tabs-nav { /* auto clear */
    display: block;
}
.tabs-nav .tabs-disabled {
    position: relative; /* fixes opacity */
    filter: alpha(opacity=40);
}
.tabs-nav .tabs-disabled a span {
    _height: 19px; /* for some reason the height is 1px to less with opacity... */
    min-height: 19px; /* ...in both IE 6 and 7 */
}

.passenger-info .main-info label {
margin:0pt 5px 10px;
width:90px;
}

.computation .compute .ietotal{
	margin-top:10px;
}

.computation .compute span.ietotal {
margin-top:10px;
}

.computation .compute span.label-image{
margin: 5px 0 0 0;
}
 
.computation .compute span.fareclub{
margin-top:10px;	
}

.height-small{
 /*height:180px; if someone has large font then it scrolls text without being able to see it*/
 min-height:180px;
 }

/* Boxes */
.box-big{
 margin: 0pt 0pt 40px 23px;}

.box-small{
 margin: 0pt 0pt 40px 23px;}
 
.modifyItinerary-left-box
{
 margin: 0pt 0pt 40px 5px;
}

.modifyItinerary-right-box
{
 margin: 0pt 0pt 20px 50px;
}

.reservations .steps{
  width:350px;
 }
.reservations .steps p {
	margin: 12px 0pt 0pt;
}
 
.reservations .steps p.boardingpass {
margin: 0px 0pt 0pt;
}

.reservation-pricing .passenger-info .main-info {
width:380px;
}

/* Departing and Returning Flight */
.table-flights{
 width: 692px;
}

.flight-rows{
 width: 692px;
}

.table-flights-notes{
 width: 692px;
}

table.table-flights .seat-type-header{
 width: 200px;
 word-spacing:2.5px;
 }	
 
table.table-flights .seat-type{
 width: 140px;
 }	
 
 table.table-flights tr td{
 width: 95px;
 }

.leftcontent .flight-search .passenger-count{
 padding-top: 20px;	}
 
 .flight-search .pHeight
{
	height:30px;
}
 
 
 table.policiesTable th{
	width:500px;
	word-spacing:2.5px;}
	
/* Confirmation page - Flight Details */
table.reservations{
	text-decoration:none;
	color:#000;}

.flight-confirmation h2{
	text-decoration:none;} 
	
.computation .compute label{
	text-decoration:none;
	color:#000;}
	
.flight-confirmation div.b125x125{
	height:125px;
	width:125px;}
/* Confirmation page - Flight Details End */
	
/* Processing Pages */
/* For IE8 */
.processing-pages{
    padding-top: 72px;}
/* End Processing Pages */

/* Track a Flight Ads for IE8 */
.alignLeaderBoard
{
	padding: 0 0 15px 7px;
}

.alignWideSkyscraper
{
	padding: 0 0 5px 574px;
}

.padded2{
 padding: 12px 0 0 0;}
/* End Track a Flight Ads */


/* BOARDING PASS
--------------------------------------------------------------------------------------*/
#boardingPassHeaderRow
{
	padding: 5px 0 5px 40px;
}

.timeStampInfo
{
	padding-left:70px;
}

#boardingPassRight
{
	width:24%;
}

.mainSeatRequestInfo
{
	float:left;
	width:40%;
	height:60px;
	margin-top:-53px;
	padding-top:10px;
}

/* style sheet for print goes here */
@media print 
{	
	.largeRect
	{
		width:760px;
	}
	
	#boardingPassBody
	{
		padding-left:40px;
	}	
	
	#boardingPassMainRow
	{
		padding-left:40px;
	}		
	
	#boardingPassThankYouNote
	{
		padding-left:40px;
	}	
}
/* --------------------------------------------------------------------------------------
/* end of BOARDING PASS*/



/* Calendar Page
-----------------------------------------------------------------------------------------------*/

/* ad */
.ad { margin-top:-34px; }

.calendar td a, .calendar td a:visited  { cursor: pointer; cursor: hand; }

/* -----------------------------------------------------------------------------------------------
Calendar Page */

/* 9FC Enrollment Page */
.cc-img-spacer{
 padding: 18px 10px 50px 0;} 
/* End 9FC Enrollment Page */