/* Styles for HOME PAGE
-------------------------------------------------------------------------------------*/
.notice{
 padding: 8px 70px 10px 20px;
 margin-left: 20px;
 background:url("../images/icon_notice.gif") no-repeat 0 8px;}

/* Boxes */
.box-big{
 width: 400px;
 float:left;
 display:inline;
 margin: 0 0 12px 23px;}

.box-small{
 width: 286px;
 float:left;
 display:inline;
 margin: 0 0 12px 23px;}
 
.modifyItinerary-left-box
{
 width: 286px;
 float:left;
 display:inline;
 margin: 0pt 0pt 40px 5px;
}

.modifyItinerary-right-box
{
 width: 286px;
 float:left;
 display:inline;
 margin: 0pt 0pt 20px 50px;
}

.height-small{
 min-height:180px;}

.height-big{
 height:264px;}

.box-content{
 background:#fbfaff url("../images/bg_contentbox.gif") repeat-x top left;
 border:1px solid #92a0d6;
 /*border-top:none;*/
 clear:both;
 padding-bottom:15px;}

/* Box Main Navigation */
ul.box-nav{
 background:url("../images/bg_boxnav.gif") no-repeat left bottom;
 height:19px;
 /*padding: 0 0 17px 0;*/}

.box-big ul.box-nav{
 background:url("../images/bg_boxnav2.gif") no-repeat left bottom;}

ul.box-nav li{
 float:left;}

ul.box-nav li a{
 float:left;
 display:block;
 height:19px;
 text-indent:-99999px;
 overflow:hidden;}

ul.box-nav li.tabs-selected a,
ul.box-nav li.selected a{
 background-position: 0 -19px !important;}

ul.box-nav li a.bookatrip{
 background:url("../images/boxnav_bookatrip.gif") no-repeat top left;
 width: 94px;}

ul.box-nav li a.bookatrip_spanish{
 background:url("../images/Spanish/boxnav_bookatrip.gif") no-repeat top left;
}

ul.box-nav li a.myreservations{
 background:url("../images/boxnav_myreservations.gif") no-repeat top left;
 width: 97px;}

ul.box-nav li a.myreservations_spanish{
 background:url("../images/Spanish/boxnav_myreservations.gif") no-repeat top left;
}

ul.box-nav li a.onlinecheckin{
 background:url("../images/boxnav_onlinecheckin.gif") no-repeat top left;
 width: 95px;}

ul.box-nav li a.onlinecheckin_spanish{
 background:url("../images/Spanish/boxnav_onlinecheckin.gif") no-repeat top left;
}

ul.box-nav li a.flightstatus{
 background:url("../images/boxnav_flightstatus.gif") no-repeat top left;
 width: 95px;}

ul.box-nav li a.flightstatus_spanish{
 background:url("../images/Spanish/boxnav_flightstatus.gif") no-repeat top left;
}

ul.box-nav li a.schedules{
 background:url("../images/boxnav_schedules.gif") no-repeat top left;
 width: 96px;}

ul.box-nav li a.schedules_spanish{
 background:url("../images/Spanish/boxnav_schedules.gif") no-repeat top left;
}

ul.box-nav li a.airportinfo{
 background:url("../images/boxnav_airportinfo.gif") no-repeat top left;
 width: 95px;}

ul.box-nav li a.airportinfo_spanish{
 background:url("../images/Spanish/boxnav_airportinfo.gif") no-repeat top left;
}

ul.box-nav li a.dealsoffers{
 background:url("../images/boxnav_dealsoffers.gif") no-repeat top left;
 width: 134px;}

ul.box-nav li a.dealsoffers_spanish{
 background:url("../images/Spanish/boxnav_dealsoffers.gif") no-repeat top left;
}

ul.box-nav li a.emailspecials{
 background:url("../images/boxnav_emailspecials.gif") no-repeat top left;
 width: 134px;}

ul.box-nav li a.emailspecials_spanish{
 background:url("../images/Spanish/boxnav_emailspecials.gif") no-repeat top left;
}

ul.box-nav li a.freespirit{
 background:url("../images/boxnav_freespirit.gif") no-repeat top left;
 width: 131px;}

ul.box-nav li a.freespirit_spanish{
 background:url("../images/Spanish/boxnav_freespirit.gif") no-repeat top left;
}

/* Box Sub Navigation */
ul.box-subnav{
 background:url("../images/bg_boxsubnav.gif") no-repeat top left;
 height:20px;
 /*margin-top:-12px;
  position:relative; */
 padding: 0 0 0 16px;}

ul.box-subnav li{
 float:left;}

ul.box-subnav li a{
 display:block;
 float:left;
 text-indent:-99999px;
 overflow:hidden;
 height:20px;}

ul.box-subnav li.tabs-selected a,
ul.box-subnav li.selected a{
 background-position: 0 -20px !important;}

ul.box-subnav li a.flight{
 background:url("../images/boxsubnav_flight.gif") no-repeat top left;
 width:56px;} 

ul.box-subnav li a.flight_spanish{
 background:url("../images/Spanish/boxsubnav_flight.gif") no-repeat top left;
} 

ul.box-subnav li a.hotel{
 background:url("../images/boxsubnav_hotel.gif") no-repeat top left;
 width:72px;} 

ul.box-subnav li a.hotel_spanish{
 background:url("../images/Spanish/boxsubnav_hotel.gif") no-repeat top left;
} 

ul.box-subnav li a.car{
 background:url("../images/boxsubnav_car.gif") no-repeat top left;
 width:62px;} 

ul.box-subnav li a.car_spanish{
 background:url("../images/Spanish/boxsubnav_car.gif") no-repeat top left;
} 

ul.box-subnav li a.vacations{
 background:url("../images/boxsubnav_vacations.gif") no-repeat top left;
 width:64px;} 

ul.box-subnav li a.vacations_spanish{
 background:url("../images/Spanish/boxsubnav_vacations.gif") no-repeat top left;
} 


/* Hide Tabs */
/*#hotel,#car,#vacations,#myreservations,#onlinecheckin,#schedules,#airportinfo,
#emailspecials,#freespirit{
 display:none;}
 */
/* Global Form Values */
select.month{
 width:83px !important;
 float:left;
 margin:0px 6px 10px 0px;}

select.day{
 width:42px !important;
 float:left;
 margin-right:8px;}

.hotel-guests label{
 margin-right:12px;
 width: auto !important;}

.hotel-guests select{
 width: 45px  !important;
 margin-top: 4px;}

.hotel-guests select.guests{
 margin-right: 18px;}

.hotel-promo{
 font-size:0.9em;}

.hotel-promo input.text{
 width:85px;
 margin-right: 3px;}

.hotel-promo input.button{
 float:right;
 padding: 0 5px 0 0;}
 
/* Booking Box 
-------------------------------------*/
/* Flight Tab */
fieldset.flight{
 padding: 10px 6px;}
a.route-map{
    padding-right:9px;}
.flight-location label{
 width: 40px;
 height:30px;}

.flight-location select{
 width: 225px;}

.flight-date{
 padding: 8px 0 0 0;}

.flight-date label{
 width: 62px;}

.flight-date a{
 float:left;
 margin-left:4px;}

.flight-date span.roundtrip{
 width: 101px;}

.flight-search{
 padding: 30px 0 0 0;}
 
.flight-search .wHuges { width:110px; }

.flight-search .pHeight 
{
	height:30px;
}

.flight-search a img {
vertical-align: top
}

.flight-search label{
 width: 103px;}
 
.flight-search input.text,
.flight-search select{
 width: 103px; 
 margin-right: 18px;}

.flight-search select{
 width: 40px;}

.flight-search select.passengers{
 width: 39px;}

/* Hotel Tab*/
fieldset.hotel{
 padding: 10px 8px 10px 12px;}
 
fieldset.hotel label{
 width: 70px;}

fieldset.hotel select.city{
 width: 181px;
 margin-bottom: 18px;}

fieldset.hotel .hotel-guests{
 padding: 13px 0 0 0;
 margin-left:-3px;}
 
fieldset.hotel .hotel-promo{
 padding: 10px 0 0 0;}

/* Car*/
#car {
 text-align:center;
 padding: 0 15px 10px 15px;
 font-size:0.9em;}

#car p{
 padding: 15px 0 0 0;
 color:#000066;}

#car p.intro{
 font-size:1.2em;
 font-weight:bold;}

#car p.hertz img{
 float:left;}

#car p.hertz  span{
 padding: 10px 0 0 5px;
 display:block;
 float:left;}

/* Vacation */
fieldset.vacation{
 padding: 10px 0px 10px 0px;}

fieldset.vacation label{
 width: 105px;}

fieldset.vacation select{
 width: 165px;}

fieldset.vacation .hotel-guests{
 padding: 0 0 0 20px;}

h2.box-header{
 background:url("../images/icon_arrow.gif") no-repeat top left;
 padding: 0 0 0 30px;
 color:#001c94;
 font-weight:bold;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size:1.4em;}

#myreservations,
#onlinecheckin{
 padding: 10px 5px 0px 15px;
 background:#fbfaff url("../images/bg_contentbox.gif") repeat-x top left;
/* margin-top: -12px;
 position:relative;*/}

#myreservations h2{
 padding-bottom: 35px;
 *padding-bottom: 25px;
  }

#onlinecheckin h2{
 padding: 0 0 20px 17px;
 *padding: 0 0 10px 17px;
 }

#myreservations p,
#onlinecheckin p{
 font-size:0.9em;
 text-align:center;}

#onlinecheckin img{
 vertical-align:middle;}

#myreservations p.note,
#onlinecheckin p.note{
 color:#999999;
 padding: 0 0 20px 0;}

#myreservations label,
#onlinecheckin label{
 width: 128px;
 font-size:0.9em;}

#myreservations fieldset,
#onlinecheckin fieldset{
 padding: 18px 0;}

#myreservations input.text,
#onlinecheckin input.text{
 width: 113px;
 height:10px;
 margin-bottom: 12px;}

/* Flight Information Box 
-------------------------------*/
.flight-information{
 padding: 12px 12px;
 font-size:0.9em;}

.flight-information p{
 text-align:center;} 
 
.flight-information p.more-info{
 border-top:1px solid #bdbdd7;
 padding: 7px 0 0 0;
 clear:both;
 text-align:center;}

.flight-information p.more-info img{
 float:left;} 

#flightstatus select{
 width: 240px;}

#flightstatus p{
 text-align:left;}

#flightstatus fieldset{
 padding: 18px 0 0 0;}

#flightstatus .search{
 padding: 9px 0 5px 0;}

#flightstatus .search select{
 width: 100px;
 float:left;}

#flightstatus .search input{
 float:right;}

#schedules p{
 padding-bottom:18px;}

#airportinfo ul{
 width: 120px;
 float:left;
 margin: 15px 0 20px 0;
 padding-right: 13px;}

#airportinfo ul li{
 padding-bottom:3px;}

/* Offers Box
------------------------------- */
.offers{
 padding: 17px 14px;
 font-size:0.9em;}

.offers h2{
 font-size:1.5em;
 padding: 0 0 15px 18px;}

ul.deals{
 padding: 0 0 17px 20px;}

ul.deals li{
 background:url("../images/bullet.gif") no-repeat 0 3px;
 font-size:1.2em;
 padding: 0 0 5px 10px;}

#emailspecials .from{
 height: 58px;}

#emailspecials fieldset{
 padding: 5px 0 0 18px;}

#emailspecials input.text{
 width: 200px;
 margin: 0 10px 0 0;}

#emailspecials fieldset p{
 text-align:center;
 color:#000066;}

#emailspecials p.note{
 color:#999;
 text-align:center;}

#freespirit p img{
 float:left;
 margin: 0 15px 0 0;}

#freespirit p {
 font-size:1.2em;}

#freespirit p span{
 color:#ab3330;}

#freespirit p.note{
 width: 230px;
 margin:5px  0 0 90px;
 font-size:1em;}

.buttonSearch 
{
}
