/* IE 6 and 7 Hacks */
ul#top-nav li #login{
 margin-left: -113px; /* for IE  7 only, overidden on ie.css for ie 6 */}

ul#main-nav li ul {
 /*margin-top:-4px;*/}

span.home_click 
{
padding: 20px;
}

 .flight-search .pHeight
{
	height:auto;
	width: 275px;
}

/* Processing Pages */
/* FOR IE7 */
.processing-pages{
    padding-top: 72px;}
/* End Processing Pages */


/* Customer Info in Booking Path */
div#customerInfo table.custFullInfo tbody label.with_dropdown { top:0; position:absolute; }

/* Track a Flight Ads for IE6 and IE7 */
.alignLeaderBoard
{
	padding: 8px 0 15px 6px;
}

.alignWideSkyscraper
{
	padding:0 0 5px 572px;
}

.padded2{
 padding: 0 0 0 0;}
/* End Track a Flight Ads */


/* Boarding Pass */
.largeRect
{
	width:725px;
	height:380px;
}

.largeRect fieldset legend
{
	height:0px;
}

#boardingPassHeaderRow
{
	padding-top:0px;
	padding-bottom:0px;
}

#boardingPassRight
{
	height:325px;
	border-left:1px solid;
}

#boardingPassRightBody
{
	padding-top: 0px;
}

#boardingPassRightBody fieldset legend
{
	height:0px;
}

#boardingPassRightBody label.shortProceedToGate
{
	margin-left:-3px;
	font-size:7pt;
}

.boardingPassRightBodyInner
{
	width:48%;
}


	
/* style sheet for print goes here */
@media print 
{
	
	.largeRect
	{
		width:1000px;
		height:420px;
	}
	
	#horizBarcodeInfo img {height:70px!important; width:330px!important; }
	#horizBarcodeInfo {float:right!important;}
	
	#boardingPassRightVertBarcode img {width:40px!important; height:300px!important;}
	
	#boardingPassBody
	{
		padding-left:40px;
	}	
	
	#boardingPassHeaderRow
	{
		padding-top:0px;
	}	
	
	div.boardingPassDisplay p
	{
		width:1000px;
		font-size:10pt;
	}
	
	.timeStampInfo
	{
		width:auto!important;
		float:left!important;
	}	
		
	.timeStampInfo label,
	#boardingPassRightLogo label
	{
		font-size:10pt;
	}
	
	.headerText
	{
		width:auto!important;
	}
	
	.headerText,
	#boardingPassThankYouNote
	{
		font-size:8pt;
	}
	
	#boardingPassMainRow
	{
		padding-left:40px;
	}	
	
	#boardingPassThankYouNote
	{
		padding-left:40px;
	}
	
	#boardingPassRight
	{
		height:375px;
	}	
	
	.contentText
	{
		font-size:16pt;
	}
	
	#boardingPassRightVertBarcode
	{
		padding-top:15px;
	}	
	
	#boardingPassRightBody
	{
		font-size:8pt;
		width:76%;
	}

	#boardingPassRightBody label
	{
		font-size:10pt;
	}
	
	#boardingPassRightBody label.shortProceedToGate
	{
		margin-left:-2px;
		margin-top:10px;
		font-size:8pt;
	}	

	#boardingPassRightBody label.seatLabel
	{
		font-size:14pt;
	}	
	
	.seatBox
	{
		width:75%;
	}
	
	.seatBox div
	{
		height:70px;
	}
	
	#boardingPassRightBody label.seatExitLabel
	{
		font-size:10pt;
		padding-left:0px;
		margin-top:0px;		
	}	

	.mainRow
	{
		font-size:18pt;
	}	
		
	.topNote
	{
		padding-bottom:12pt;
		width:1000px;
	}	

	.doNotPrint 
	{
		display: none;
	}
	
	.disclaimerblue  
	{  
		font-family: verdana; 
		font-size: 6pt; 
		color: #000066;
	}	
	
	.spacer
	{
		height:85px;
	}
	
	.boardingPassPage 
	{
		page-break-after: always;
		height:10px;
	}
}
/* End of Boarding Pass */

/* Calendar Page
-----------------------------------------------------------------------------------------------*/

/* ad */
/* gps took out margin -12 left which caused it to go right*/
.ad {  padding-left: 0px; margin-top: -25px;padding-right: 12px; }

/* basic styles gps commented out calendar wrap cuz of error in ie 7 when an error was on the calendar page*/
/*.calendar-wrap { padding-left: 12px;  }*/

/* -----------------------------------------------------------------------------------------------
Calendar Page */

/* Reservations Page */
.field_select.active { position:relative; }
.field_select.active .select_options { top:32px; left:0; }
/* End of Reservations Page */


/* Static Flight Search */
.market-selection { height:24px; }
#book-flights .flight-location .market-selection { height:40px; }