article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }
body {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif; 
    color:#000;
    font-size:10pt;
}
a { color:#000; }

#page > header,
#page > footer .linksets { display:none; }

#page > footer { border-top:1pt solid #CDCDCD; padding-top:2pt; }

h1 { font-size:24pt; }
h2 { font-size:18pt; }
h3 { font-size:14pt; }
h4 { font-size:12pt; }

fieldset li { list-style:none; margin-bottom:4pt; }
fieldset li label { display:block; font-weight:bold; }

.price_display table { border-collapse:collapse; }
.price_display table td { border:1pt solid #CDCDCD; padding:4pt; }
.price_display table td.price { text-align:right; }
.price_display table td .more_info { display:none; }

.price_display .total_due { text-align:right; font-weight:bold; padding-right:4pt; }
.price_display .total_due .price { margin-left:10pt; }


/* ====================>>> Conformation Page CSS <<<==================== */

html>/**/body * { overflow: visible !important; }
html>/**/body div.itinerary_information, html>/**/body div.price_wrapper { overflow: hidden !important;}

body { background: none !important; }
.no-cssgradients body { background: none !important; filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}

div.color_bar_first,
div.color_bar,
header.main_header,
footer.main_footer,
#content aside.breadcrumbs,
#content p.print_button_wrapper,
#purchasingPrice_section table tbody tr td span.more_info { display: none !important; }

#content { border: 1pt solid #ccc; background: #fff; -webkit-box-shadow:  0px 0px 0px rgba(0, 0, 0, 0); -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); padding: 10px 0px 30px;}

#content header.your_confirmation h1,
#your_confirmation_page h3,
#confirmation_page_itinerary div.flight_details table.first,
#confirmation_page_itinerary table thead tr th,
.total_due_amount,
.total_due_amount div.price_wrapper,
.purchase_price_section,
.section_block { border-width: 1pt;}

#purchasingPrice > tbody > tr > td { border: none; }
#purchasingPrice_section table tbody tr.sub_charges { display: table-row !important; }
#RoomSelectErrorDiv {overflow: hidden;}

.error_msg_bubble{display:none;}
.standard col{
    width:20%;
}

.standard col:first-child{
    width:40%;
}