/*Media page styles */
/**************** Popup Bubble Styling **********************/
.popup {
    display: none;
    position: absolute;
    padding-bottom: 22px;
    z-index: 999;
    font-weight: normal;
    text-align: left;
}

    .popup .popup_container {
        position: relative;
        width: 230px;
        padding: 20px;
        font-size: 14px;
        color: #333;
        background: #fff;
        border: 1px solid #999;
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(0,0,0,0.32);
    }

    .popup .downarrow {
        position: absolute;
        left: 50px;
        bottom: -16px;
        width: 0;
        height: 0;
        border-color: #fff transparent transparent;
        border-style: solid;
        border-width: 20px;
        z-index: 3;
    }

        .popup .downarrow.border {
            bottom: -18px;
            border-color: #999 transparent transparent;
            z-index: 3;
        }

    /*.popup.arrow_right {
        left: -90% !important;
    }

    .popup.logo_arrow_right {
        left: -10% !important;
    }

        .popup.arrow_right .downarrow, .popup.logo_arrow_right .downarrow {
            left: auto;
            right: 40px;
        }*/

    .popup a.close {
        display: none; /*position:absolute;top:0;right:0;padding:7px 5px 3px;color:#fff !important;background:#940000;line-height:.75em;border-left:1px solid #999;border-bottom:1px solid #999;border-top-right-radius:5px;font-weight:normal;*/
    }

    .popup h5 {
        margin-bottom: 0;
        text-transform: uppercase;
    }

    .popup p {
        margin-bottom: 10px;
    }

    .popup .action {
        position: absolute;
        right: 20px;
        bottom: 5px;
    }

.popup_content {
    display: none;
}

.popup .popup_content {
    display: block;
}

.popup .specs {
    padding: 0;
    display: inline-block;
}

    .popup .specs li {
        list-style: none;
        padding:0px;
        /*float: left;
        width: 105px;
        padding: 0 0 0 80px;
        margin: 0 0 5px 0;*/
    }

      /*  .popup .specs li span {
            float: left;
            display: inline-block;
            width: 80px;
            margin-left: -80px;
        }

        .popup .specs li p {
            margin-bottom: 0;
        }*/

#aircraftPhotos ul.tiles, #aircraftVideos ul.tiles, #logosSpirit ul.tiles, #routes ul.tiles {
    padding: 0;
    list-style-type: none;
}


/*finish Media page styles*/
